src/main/mule/choice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ebacd8d-608b-4dea-b221-2959e5d99646" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choiceFlow" doc:id="de51ca2e-6049-4c1f-b56e-321b22154117" >
		<http:listener doc:name="Listener" doc:id="383f24ca-02b1-4b15-aba0-111ed17e63e7" config-ref="HTTP_Listener_config" path="/choice"/>
		<logger level="INFO" doc:name="Logger" doc:id="a30971ca-9ac6-4a5b-97f6-845db711801c" message="size: #[attributes.headers.'cpmtemt-length']"/>
		<choice doc:name="Choice" doc:id="0c65d5c5-c196-4f7c-9829-00918c96b6bd" >
			<when expression="#[attributes.headers.'content-length'&lt;=1341]">
				<logger level="INFO" doc:name="Logger" doc:id="1f223d32-a0bb-46d7-a6fd-834fcc56dbc4" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d44125f1-7a72-4bff-b023-555dbc17117d" message="This is bigl msg: #[attributes.headers.'content-ength']"/>
			</otherwise>
		</choice>
	</flow>
</mule>
